<!DOCTYPE html>
<style>
    header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

/* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

@@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }

  header video {
    display: none;
  }
}
</style>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
        
    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="~/Content/css/clean-blog.min.css" rel="stylesheet">

</head>

<body>
    <!-- Page Header -->
    <header>

        <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
        <div class="overlay"></div>

        <!-- The HTML5 video element that will create the background video on the header -->
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="~/Content/movies/HomeTwo.mp4" type="video/mp4">
        </video>

        <!-- The header content -->
        <div class="container h-100">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">
                    <h1 class="display-3">Web Tools</h1>
                    <p class="lead mb-0">Using HTML5 Video and Bootstrap</p>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
                    <a href="~/Simulator/Simulator">
                        <h2 class="post-title">
                            Future Financial Planning Tool
                        </h2>
                        <h3 class="post-subtitle">
                            I do the math for you!
                        </h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#">André Balconi</a>
                        in 2021
                    </p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="~/Financy/Financy">
                        <h2 class="post-title">
                            Simulate your financing here
                        </h2>
                        <h3 class="post-subtitle">
                            I help you plan!
                        </h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#">André Balconi</a>
                        in 2021
                    </p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="~/Home/Moment">
                        <h2 class="post-title">
                            Break Moment with Music
                        </h2>
                        <h3 class="post-subtitle">
                            Enjoy this moment!
                        </h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#">André Balconi</a>
                        in 2021
                    </p>
                </div>

                <hr>
                <!-- Pager -->
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
                </div>
            </div>
        </div>
    </div>

   
    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/Content/js/clean-blog.min.js"></script>

</body>

</html>
