<!DOCTYPE html>
<style>
    header {
        position: relative;
        background-color: black;
        height: 75vh;
        min-height: 25rem;
        width: 100%;
        overflow: hidden;
    }

        header video {
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: 0;
            -ms-transform: translateX(-50%) translateY(-50%);
            -moz-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
        }

        header .container {
            position: relative;
            z-index: 2;
        }

        header .overlay {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: black;
            opacity: 0.5;
            z-index: 1;
        }

    /* Media Query for devices withi coarse pointers and no hover functionality */

    /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

    @@media (pointer: coarse) and (hover: none) {
        header {
            background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
        }

            header video {
                display: none;
            }
    }
</style>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="~/Content/css/clean-blog.min.css" rel="stylesheet">

</head>

<body>
    <!-- Page Header -->
    <header>

        <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
        <div class="overlay"></div>

        <!-- The HTML5 video element that will create the background video on the header -->
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="https://static.videezy.com/system/resources/previews/000/018/930/original/Noten2_4.mp4" type="video/mp4">
        </video>

        <!-- The header content -->
        <div class="container h-100">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">
                    <h1 class="display-3">Break Moment with Music</h1>
                    <p class="lead mb-0">Enjoy!</p>
                </div>
            </div>
        </div>
    </header>
    <br />
    <!--Movie Panel-->
    <div class="row">
        <div class="col-lg-5 col-md-10 mx-auto">
            <iframe width="470" height="280" src="https://www.youtube.com/embed/sWEVVGRbYQI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-5 col-md-10 mx-auto">
            <iframe width="470" height="280" src="https://www.youtube.com/embed/Zt21PLjoWqE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <br />
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">M</a></li>
                <li><a data-toggle="tab" href="#menu1">U</a></li>
                <li><a data-toggle="tab" href="#menu2">S</a></li>
                <li><a data-toggle="tab" href="#menu3">I</a></li>
                <li><a data-toggle="tab" href="#menu4">C</a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane active">
                    <h3>MUSIC IS THE KEY TO CREATIVITY</h3>
                    Music fuels the mind and thus fuels our creativity. A Creative mind has the ability to make discoveries and create innovations. The greatest minds and thinkers like Albert Einstein, Mozart, and Frank Lloyd Wright all had something in common in that they were constantly exploring their imagination and creativity.<br />
                    Listening to instrumental music challenges one to listen and tell a story about what one hears. In the same sense, playing a musical instrument gives you the ability to tell the story without words. Both require maximum right brain usage which not only exercises ones creativity but also ones intellect.<br />
                    The strength of all the Arts including writing, painting, dance, and theater have the ability to create a similar effect.
                </div>
                <div id="menu1" class="tab-pane fade">
                    <h3>MUSIC MAKES EDUCATION MORE ENJOYABLE</h3>
                    Music can be very engaging in the classroom and is a great tool for memorization. I’m sure if more teachers used  song to teach the multiplication tables, kids would retain that information much quicker.<br />
                    My spanish teacher in 10th grade used a song to teach us the past tense endings and even today, I havent forgotten the song. It’s as if she imbedded it in my mind and now I will never forget it.<br />
                    Besides the obvious, Music teaches us self discipline and time management skills that you cannot get anywhere else. When you study an instrument on a regular basis you work on concrete ideas and take small steps to achieve larger goals. This way of thinking organizes the wiring in your brain to start looking at Learning in a new light.<br />
                    In raising children, Music education can be used to keep kids focused and keep them off the streets. Instead of running around and causing mischief, your child may be practicing piano or rehearsing music with friends.<br />
                    Unfortunately, some forms of music can influence children in negative ways. It is well known that music has a power to influence the way we dress, think, speak, and live our lives. Profane and violent lyrics can have a negative influence on children.<br />
                    Looking back at my High School days, I notice that I followed the herd when it came to listening to Hip-hop and doing things that were “cool” to look tough and be like the “Gangsta” image that was portrayed. When I got to college, I realized how much it pervaded my lifestyle and when I got into Jazz, my entire lifestyle began to change.
                </div>
                <div id="menu2" class="tab-pane fade">
                    <h3>MUSIC IS THE LANGUAGE OF THE UNIVERSE.</h3>
                    You’ve heard this time and time again, but what does it mean exactly? Music is universal in that there are no boundaries to understanding music. Even animals like Birds, Dogs, and Whales can understand music to a certain degree.<br />
                    It transcends all boundaries of communication because you can speak and tell stories to someone on the other side of the planet, even though you both don’t speak the same language. But I believe its important for one to have an open mind in order to be in touch with that sense of understanding.<br />
                    Many people immediately push away certain styles of music without having explored what it has to offer. Not all styles will appeal or resonate with a person, but one may discover a new part of ones self when you are open to all the possibilities.
                </div>
                <div id="menu3" class="tab-pane fade">
                    <h3>MUSIC HAS SPIRITUAL POWERS.</h3>
                    No one really knows where Music came from but there are many theories that suggest music predates the existence of Mankind. One of the most commonly known uses for music was religious and sacred tribal events. In Mayan civilization music was used in celebration of a victory at war and even at the burial of influential figures.<br />
                    Some of the earliest recorded moments in Music took place in the Medieval times with choral pieces for church prayers. Much emphasis was placed in the organization and use of specific harmonies to create moods that would illicit a spiritual experience.<br />
                    Even today, many people claim that music is the key to God and to a holy, more fulfilling life through the Church.
                </div>
                <div id="menu4" class="tab-pane fade">
                    <h3>MUSIC CAN CREATE A MOOD AND MAKE YOU FEEL EMOTION.</h3>
                    Music can whisk you away on an extended journey. Music can make time feel frozen. Music also has the power to suggest movement. All these things deal with the human senses.<br />
                    I’m sure you can remember a moment where a song has made you particularly sad or very excited and happy. But how does organized tones create such an effect on our senses? No one really knows why or where it comes from but there are many studies that have been done to show that there is an agreement of which emotions pertain to certain scales, chords, and harmonies.
                </div>
            </div>
        </div>
    </div>




    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/Content/js/clean-blog.min.js"></script>

</body>
<body class="sticky-lg-top">
    <sub>
        *Information from website https://www.pianoaround.com/the-importance-of-music-in-your-life
    </sub>
</body>

</html>
